{% extends "base.html" %} {% block content %}
{% include "messages.html" %}
<div class="container-fluid">
  <div class="row row-cols-2 row-cols-md-3 g-4">
    {% for room in room_data %}
      <div class="col">
        <div class="card">
          {% load static %}
          <img
            src="{% static 'images/listings_image.jpg' %}"
            class="card-img-top"
          />
          <div class="card-body">
            <h5 class="card-title fw-bold">Room Number: {{room.id}}</h5>
            <p class="card-text">Room Type: {{room.room_type}}</p>
            <p class="card-text">Occupany:{{room.occupancy}}</p>
            <p class="card-text">Price:{{room.price}} cedis</p>
            <p class="card-text">Availability:{{room.availability}}</p>
          </div>
          <div
            class="card-footer col-12 border-0"
            style="background-color: white"
          >
            <a href="{% url 'room_detail' room.id %}" class="btn btn-primary col-lg-12">View</a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
{% endblock content %}
