<!-- room_detail.html -->
{% load static %}
<div class="container">
    <div class="card shadow-sm">
        <img src="{% static 'images/listings_image.jpg' %}" alt="">
        <div class="card-body">
            <h5 class="card-title">Room Number: {{ room.id }}</h5>
            <p class="card-text">Room Type: {{ room.room_type }}</p>
            <p class="card-text">Occupancy: {{ room.occupancy }}</p>
            <p class="card-text">Price: {{ room.price }} cedis</p>
            <p class="card-text">Availability: {{ room.availability }}</p>
            <!-- Add any other details you want to display -->

            <div class="d-flex justify-content-between align-items-center">
                <div class="card-footer col-12 border-0" style="background-color: white;">
                    <!-- Link to the room detail page -->
                    <a href="{% url 'room_detail' room.id %}" class="btn btn-primary col-lg-12">Details</a>
                </div>
            </div>
        </div>
    </div>
</div>
